<button routerLink="">Go Back</button>
<p class="title">Details</p>

<div class="container" [style.height.px]="height" [style.fontSize.px]="fontSize">

    <input type="number" [(ngModel)]="fontSize" placeholder="Enter Font Size">
    <input type="number" [(ngModel)]="height" placeholder="Enter Height">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio a, libero aperiam reprehenderit tempora blanditiis aut ratione voluptatibus neque tenetur mollitia alias itaque exercitationem, natus eveniet enim possimus laboriosam nam!</p>
</div>

